<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			Bio
		</title>

		<link rel="stylesheet" type="text/css" href="../assets/styles/main.css">
	</head>
	<body>
		<h1>
			Soy yo
		</h1>

		<a href="../index.html">
			Redirect back
		</a>

		<article>
			
			<p>
				Google:
			</p>
			<blockquote cite="https://www.google.com">
				Lorem ipsum &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</blockquote>

		</article>

		
		<div style="width: 50%;">
			
			<img id="cover" src="../assets/img/extraterrestre.png" loading="lazy" >

		</div>

		<a href="../assets/img/extraterrestre.png" download>
			Descargar CV
		</a>

		<pre>
			
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

			<code>
				
				 a + b = ?

				&lt; h1 &gt;🤴 &clubs;

			</code>

		</pre>

		<div class="container">
			
			<div>1</div>
			<div>2</div>
			<div>3</div>
			<div>4</div>
			<div>5</div>
			<div>6</div>
			<div>7</div>
			<div>8</div>
		
		</div>


	</body>
</html>










