body{
	font-family: "Times New Roman", Times, serif;
}

@font-face {

	font-family: "Royalty Free";
	src: url(../royalty_free/Royalty_Free.ttf);
	font-weight: normal;
	font-style: normal; 
}

.title{
	font-family: 'Royalty Free';
}

#ir_footer{

	background-color: red;
}

.bg-dark{
	color:white;
	background-color: black;

	padding: 50px 20px 50px 20px;
}

.border_paragraph{
	border: 20px; 
	border-style: double;
	border-color: white;
	border-radius: 20px;
}

p{
	background-color: red;
}

p:hover{
	background-color: green;
}

p strong{
	background-color: green;
}

a:hover{
	background-color: cyan;
}
	
li:first-child {
	background-color: yellow;
}

li:last-child {
	background-color: black;
	color:white;
}

/*  CONTACT  */

#label_email{

	font-weight: 1000;
}
.label_generic{

	text-transform: uppercase;
}

.post{

	text-align: center;
	margin: 50px; 
}

.label_list{

	text-decoration: underline overline;
	text-decoration-color: red;
	text-decoration-thickness: 5px;
}

.title_4{

	text-shadow: 2px 2px 8px green;;
}

#cover{ 
	width: 50%;
}
















