body{
	font-family: "Times New Roman", Times, serif;
}

@font-face {

	font-family: "Royalty Free";
	src: url(../royalty_free/Royalty_Free.ttf);
	font-weight: normal;
	font-style: normal; 
}

.title{
	font-family: 'Royalty Free';
}

#ir_footer{

	background-color: red;
}

.bg-dark{
	color:white;
	background-color: black;
	opacity: 0.8;

	padding: 50px 20px 50px 20px;
}

.border_paragraph{
	border: 20px; 
	border-style: double;
	border-color: white;
	border-radius: 20px;
}

p{
	background-color: Tomato;
}

p:hover{
	background-color: rgba(40, 162, 237, 0.5);
}

p strong{
	background-color: #6a20c980;
}

a{
	display: inline-block;
	/*visibility: hidden;*/
}

a:hover{
	background-color: cyan;
}
	
li:first-child {
	background-color: yellow;
}

li:last-child {
	background-color: black;
	color:white;
}

/*  CONTACT  */

#label_email{

	font-weight: 1000;
}
.label_generic{

	text-transform: uppercase;
}

.post{

	text-align: center;
	margin: 50px; 
}

.label_list{

	text-decoration: underline overline;
	text-decoration-color: red;
	text-decoration-thickness: 5px;
}

.title_4{

	text-shadow: 2px 2px 8px green;;
}

#cover{ 
	width: 50%;
}

#bg_image{

	background-image: url("../img/cerdo.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 200px;
}

.container{
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: dodgerblue;
	padding: 10px;
	column-gap: 10px;
	row-gap: 10px;
}

.container > div {
	background-color: #f1f1f1;
	border: 1px solid black;
	padding: 10px;
	font-size: 30px;
	text-align: center;
}

.nav_grid{

	grid-column-start: 1;
	grid-column-end: 4;
}

.content_grid{
	grid-column-start: 1;
	grid-column-end: 3;
}

.sidebar_grid{
	grid-column: 3;
	grid-row-start: 2;
	grid-row-end:5;

}

.footer_grid{
	grid-column-start: 1;
	grid-column-end: 4;
}

.flex_container{
	display: flex;
	background-color:#D97C6F;
	justify-content: center;
	flex-direction: row;
}

.flex_container div{
	background-color: #f1f1f1;
	margin: 10px;
	padding: 20px;
	font-size: 24px;
}


@media print{

	.my_photo{
		display: none !important;
	}

	blockquote{	
		font-size: 50px;
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	
	#cover{
		width: 50%;
	}

}
@media screen and (min-width: 481px) and (max-width: 768px) {
	
	#cover{
		width: 80%;
		background-color: red;
	}

}

@media screen and (min-width: 320px) and (max-width: 480px) {
	
	#cover{
		width: 150%;
		background-color: green;
	}

}